@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Morison';
    src: url('font/Morison-DisplayLight.otf') format('woff');
}
html {
  scroll-behavior: smooth;
}
body {
    background-color: #ffece4;
    
    
}
.option {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2vw;
    z-index: 1;
}
.option a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    color: #000000;
    transition: 1s;
    text-align: right;
}
.option a:hover {
    color: #a5a5a5;
    transition: 0.5s;
}
.slidebar {
    position: fixed;
    width: 3vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    left: 0vw;
    top: 5vh;
    z-index: 1;
    font-size:  2vw;
    gap: 6vw;
    text-align: left;
}
.slidebar a{
    transform: rotate(90deg);
    top: 50%;
    font-family: 'Morison';
    color: transparent;
    font-weight: 100;
    text-decoration: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffece4;
    color: #000;
    transition: 1s;
}
.slidebar a:hover {
    transform: rotate(90deg) scale(1.3);
    left: -6%;
    color: #ffece4;
    transition: 1s;
    -webkit-text-stroke-width:1px;
    -webkit-text-stroke-color: #000000;
}
.container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 1vw;
}
.title {
    position: relative;
}
.home {
    color: #000;
}
.PicHome {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.PicHome img {
    width: 30vw;
    height: 40vw;
    z-index: 1;
    backdrop-filter: grayscale(100%) 100%; 
}
.home p {
    font-family: 'Cinzel', serif;
    font-weight: lighter;
    font-size: 1vw;
}

.home h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: lighter;
    font-size: 5vw;
    text-align: center;
    line-height: 0;
}
.home h2 {
    font-family: 'Cinzel', serif;
    font-weight: lighter;
    line-height: 0;
    font-size: 2vw;
    text-align: center;
}
.home img {
    width: 30vw;
    height: 40vw;
}
.underline {
    width: 50vw;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 2vw;
    left: 15vw;
}
.women {
    position: relative;
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-behavior: smooth;
    height: 50vw;
    width: 80vw;
}
.women img {
    width: 19.5vw;
    height: 25vw;
    z-index: 1;
    backdrop-filter: grayscale(100%) 100%; 
}

.women h2{
    font-family: 'Cinzel', serif;
    font-weight: lighter;
    line-height: 0;
    text-align: center;
    font-size: 4vw;

}
.info {
    display: flex;
    justify-content: left;
    text-align: left;
    color: #ffffff;
    backdrop-filter: brightness(0.75) ;
    color: #ffffff;
    width: 90%;
    height: 0%;
    position: absolute;
    transition: 1s;
    font-size: 0.80vw;
    bottom: 5vw;
    padding-left: 2vw;
}

.info {
    transition:  0.5s ease-in-out, transform 0.5s ease-in-out!important;
    opacity: 0;
    transform: translateY(3vw) !important;
}

.info.visible {
    
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out!important;
    height: 35%;
    opacity: 1;
    transform: translateY(-5vw);
    visibility: visible; 
    cursor: pointer;
    background-color: #222222;
}


.women p {
    font-family: 'Cinzel', serif;
    font-weight: lighter;
}
.right{
    text-align: right;
}
.trait {
    width: 75vw;
    height: 1px;
    background-color: #000;
    margin: 2vw;
    margin-left: 2.5vw;
}
.navPic {  
    display: flex;
    gap: 10px;
    scroll-behavior: smooth;
    overflow-x: visible;
    scrollbar-color: #000;
    scrollbar-width: bold;
    scrollbar-color: #000;
}
.men {
    position: relative;
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-behavior: smooth;
    height: 50vw;
    width: 80vw;
 }
 
 .men img {
    width: 19.5vw;
    height: 25vw;
    z-index: 1;
    backdrop-filter: grayscale(100%) 100%; 
}
 .men h2{
     font-family: 'Cinzel', serif;
     font-weight: lighter;
     line-height: 0;
     text-align: center;
     font-size: 4vw;
    
 }
.history{
    display:flex;
    flex-direction: column;
    justify-content: center;
 }
 .history h2{
     font-family: 'Cinzel', serif;
     font-weight: lighter;
     line-height: 0;
     text-align: center;
     font-size: 4vw;
 
 }
 .contact {
    display: flex;
    flex-direction: column;
    width: 20vw;
}
.contact form {
    display: flex;
    flex-direction: column;
}
.devenirmannequin {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20vw;
    text-align: center;
    margin-left: 10vw;
}
.devenirmannequin h2 {  
    white-space: nowrap;
    margin-right: 10vw;
}
.devenirmannequin form {
    display: flex;
    flex-direction: column;
}
.form{
    display: flex;
    justify-content: center;
    gap: 10vw;
}
.form input {
    font-size: 0.85vw;
    border: solid 1px #000000;
    border-radius: 10px;
    transition: 0.5s;
    padding: 5px;
}
.form input:hover {
    border: solid 1px #a5a5a5;
    transition: 0.5s;
}
.form button {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85vw;
    border: solid 1px #000000;
    border-radius: 10px;
    transition: 0.5s;
    padding: 5px;
    background-color: #ffffff;
    margin-top: 20px;
}
#sexe {
    font-size: 0.85vw;
    border: solid 1px #000000;
    border-radius: 10px;
    transition: 0.5s;
    padding: 5px;
    background-color: #ffffff;
}
.form button:hover {
    background-color: #222222;
    transition: 0.5s;
    color: #ffece4;
}
.form input[type="file"] {
    background-color: #ffffff;
}


.arrowLeft:hover {
    transition: 0.5s;
    transform: scale(1.3);
    cursor: pointer;
    animation: rotate 1s;
}

.arrowRight:hover {
    transition: 1s;
    transform:  scale(1.3);
    cursor: pointer;
    animation: rotate 0.75s;
}
.arrowRight:active {
    transition: 0.1s;
    transform: scale(1.5);
}
.arrowLeft:active {
    transition: 0.1s;
    transform: scale(1.5);
    
}

@keyframes rotate {
    25% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    75% {
       
       
    }
    90% {
        

        filter: opacity();
    }
}
.arrowRight{
    transition: 0.5s;
    position: absolute;
    top: 45%;
    right: -10%;
    background-image: url('../images/angle-droit.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-origin: var(0);
    width: 5vw;
    height: 5vw;
    background-color: #ffece4;
    border: none;
}
.arrowLeft{
    transition: 0.5s;
    position: absolute;
    top: 45%;
    left: -10%;
    background-image: url('../images/angle-gauche.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-origin: var(0);
    width: 5vw;
    height: 5vw;
    background-color: #ffece4;
    border: none;
}
.hidden {
    overflow: hidden;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeInAnimation 10s ease-in-out forwards!important;
}

/* .fade-out {
    animation: fadeOutAnimation 2s ease-in-out forwards!important;
} */

footer {
    margin-left: 10vw;
}